<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>SiSt5 SBB !</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}">
<!-- Bootstrap JS -->
<script th:src="@{/bootstrap/bootstrap.min.js}"></script>
<!-- sbb CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/question/style.css}">
</head>
<body>
	<!-- 네비게이션바 -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
  <!-- 기본 템플릿 안에 삽입될 내용 Start -->   
  <th:block layout:fragment="content"></th:block><!-- 태그로 출력되지 않음. 그냥 템플릿 논리 적용 -->
  <!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>