<!-- layout.html 템플릿을 상속 -->
<html layout:decorate="~{/question/layout}"
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <!-- <th:block layout:fragment="content"></th:block> 아래와 같은 코딩--> 
  <div layout:fragment="content" class="container my-3">
   <h1>/question/list.html</h1>
   <table class="table">
       <thead class="table-dark">
           <tr>
               <th>번호</th>
               <th>제목</th>
               <th>작성일시</th>
           </tr>
       </thead>
       <tbody>
           <tr th:each="question, loop : ${paging}">
               <!-- <td th:text="${loop.count}"></td> -->
               <td th:text="${question.id}"></td>
               <!-- <td th:text="${question.subject}"></td> -->
               <!--   
               <td>
                   <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
               </td> 
               -->
               <td class="text-start" th:with="asize=${#lists.size(question.answerList)}">
                   <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                   <!-- (<span class="text-danger small ms-2"
                        th:if="${#lists.size(question.answerList) > 0}" 
                        th:text="${#lists.size(question.answerList)}">
                    </span>) -->
                    <span class="text-dang1er small ms-2" th:if="${asize >0}" th:text="|(${asize})|"></span>
               </td>
               <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
           </tr>
       </tbody>
   </table>
   <!-- 페이징 블럭 시작 1 2 3 [4] 5 6 7 8 9 10 >  -->
     <!-- th:classappend="조건식 ? '참'" 타임리프의 조건식 -->
    <!-- 2 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${pageMaker.prev}">
                <a class="page-link" th:href="@{|?page=${pageMaker.startPage-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence( pageMaker.startPage, pageMaker.endPage)}"
                th:classappend="${page == paging.number+1} ? 'active'" 
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:if="${pageMaker.next}">
                <a class="page-link" th:href="@{|?page=${pageMaker.endPage+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
   <!-- 페이징 블럭 끝 -->
   
   <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
   
  </div> 
</html>