<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/resources/cdn-main/example.css">
<script src="/resources/cdn-main/example.js"></script>
<style>
 span.material-symbols-outlined{
    vertical-align: text-bottom;
 }   
</style>
<style>    
 .pagination li{
   display: inline-block;
 }
 .pagination li.active a{
   color: red;
 }
</style>
</head>
<body>
<header>
  <h1 class="main"><a href="#" style="position: absolute;top:30px;">kEnik HOme</a></h1>
  <ul>
    <li><a href="#">로그인</a></li>
    <li><a href="#">회원가입</a></li>
  </ul>
</header>
<div>
  <xmp class="code"> 
  </xmp>
  
 <h1>Board Register Page p284</h1>
    
    <form th:action="@{/board/register}" th:method="post">
      <div>
        <label>Title</label>
        <input type="text" name="title" placeholder="Enter Title">
      </div>
      <div>
        <label>Content</label>
        <textarea rows="5" name="content"></textarea>
      </div>
      <div>
        <label>Writer Email</label>
        <input type="email" name="writerEmail" placeholder="Enter Writer Email">
      </div>
      <button type="submit">Submit</button>
    </form>
    
    <br>
    주의: 작성자의 이메일은 member 테이블에 존재하는 이메일 지정.
  </div>
  
</div>
</body>
</html> 